{
  "presets": [
    ["@babel/preset-env", {
        "targets": {
          "node": "current"
        }
    }], "@babel/preset-react"],
  "plugins": [
    "lodash",
    "transform-promise-to-bluebird",
    "ramda",
    "transform-class-properties",
    "@babel/proposal-object-rest-spread",
    "transform-decorators-legacy"
  ]
}
