{
  "presets": [
    ["@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    "transform-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
